<?xml version="1.0" encoding="UTF-8"?>
<server description="VIA-DIAGNOSIS">
    <featureManager>
        <feature>federatedRegistry-1.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>ldapRegistry-3.0</feature>
        <feature>monitor-1.0</feature>
        <feature>restConnector-2.0</feature>
        <feature>cdi-2.0</feature>
        <feature>jndi-1.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jsonp-1.1</feature>
        <feature>jsonb-1.0</feature>
        <feature>mpMetrics-1.1</feature>
        <feature>mpRestClient-1.2</feature>
        <feature>mpConfig-1.3</feature>
        <feature>mpOpenAPI-1.0</feature>
        <feature>mpHealth-1.0</feature>
        <feature>beanValidation-2.0</feature>
        <feature>localConnector-1.0</feature>
    </featureManager>
    <httpEndpoint host="localhost" httpPort="9086" httpsPort="9449" id="defaultHttpEndpoint">
        <tcpOptions soReuseAddr="true" />
    </httpEndpoint>
    <logging traceSpecification="*=audit:za.co.metmom.via.diagnosis.*=finest" />
    <applicationManager autoExpand="true" />
    <applicationMonitor dropinsEnabled="true" updateTrigger="mbean" />
    <applicationMonitor updateTrigger="mbean" />
    <include location="security_variables.xml" optional="false" />
    <include location="security.xml" optional="false" />
    <include location="jndiEntries.xml" optional="false" />
    <include location="objectFactory.xml" optional="false" />
    <include location="jndiRefEntries.xml" optional="false" />
    <include location="distributedMap.xml" optional="false" />
    <include location="app.xml" optional="false" />
</server>

